.hide {
    display: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #111;
    color: #fff;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: auto;
    margin-left: auto;

    position: fixed;
    top: 0;
    left: 45%;
}

button, input {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: whitesmoke;
    padding: 7px 16px;
    border-radius: 0.2rem;

    margin: 0;
    margin-left: 0.5rem;

    outline: none;

    transition: ease 0.5s;
}
input::placeholder {
    color: whitesmoke;
}

button:hover, input:hover {
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

header {
    margin-bottom: 2.5em;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}