body {
    font-family: cursive;
    background-color: #343434;
    color: #fff;
}

header {
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: whitesmoke;
    padding: 15px 32px;
    border-radius: 2rem;
    backdrop-filter: blur(50px);
}

#left {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 3rem;
    margin-left: 5rem;
}

#center {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 20%;
    margin-top: 3rem;
}

#right {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 3rem;
    margin-right: 5rem;
}

textarea {
    border-radius: 0.75rem;
    border: none;
    height: 30rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

:placeholder-shown {
    line-height: 3rem;
    text-align: center;
    font-size: 1.5rem;
}

select {
    border-radius: 0.75rem;
    border: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 3rem;
    width: 100%;
    background-color: rgba(255, 255, 0, 0.25);
    backdrop-filter: blur(15px);
}

#center > button {
    align-self: center;
    font-size: large;
    margin-top: 1rem;
}

#center > #translate {
    margin-top: 50%;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Si on est sur mobile */
@media screen and (max-height: 940px) and (max-width: 820px) {
    textarea {
        height: 3rem !important;
    }

    #main {
        margin-top: 1rem;
        flex-direction: column;
    }

    #left {
        margin-top: 0;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #center {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0;
    }

    #right {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0.5rem;
    }

    #left>textarea {
        height: 10rem;
    }

    #center>#translate {
        margin-top: 1rem;
    }

    #right>textarea {
        height: 10rem;
    }
}